:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d4;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "DM Sans", sans-serif;
  font-size: 62.5%;
}

header {
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  display: flex;
  flex-direction: column;
  height: 334px;
  justify-content: center;
  min-width: 320px;
  position: relative;
  text-align: center;
  width: 100%;
}

header img {
  align-self: center; /* se centra un contenido de display flex */
  height: 24px;
  margin-top: 60px;
  width: 150px;
}

.header--title-container {
  align-self: center;
  height: 218px;
  margin-top: 40px;
  max-width: 900px;
  min-width: 288px;
  text-align: center;
  width: 90%;
}

.header--title-container h1 {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}

.header--title-container p {
  color: var(--soft-orange);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-top: 25px;
}

.header--title-container .header--button {
  background-color: var(--off-white);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  color: var(--black);
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  height: 48px;
  left: calc(50% - 118px);
  margin-top: 35px;
  padding: 15px;
  position: absolute;
  text-decoration: none;
  top: 270px;
  width: 229px;
}

.header--button span {
  background-image: url("../Assets/iconos/arrow.png");
  display: inline-block;
  height: 8px;
  margin-left: 10px;
  width: 13px;
}

main {
  background-color: var(--off-white);
  height: auto;
  width: 100%;
}

.main-exchange-container {
  height: auto;
  padding-bottom: 30px;
  padding-top: 80px;
  text-align: center;
  width: 100%;
}

.main-exchange-container .backgroundImg {
  background-image: url("../Assets/imgs/bitcoin.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 200px;
}

.main-exchange-container--title {
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container h2 {
  color: var(--black);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 30px;
}

.main-exchange-container p {
  color: #757575;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin-bottom: 30px;
}

.main-currency-table {
  font-family: "Inter", sans-serif;
  height: 360px;
  margin: 0 auto;
  max-width: 500px;
  min-width: 235px;
  width: 70%;
}

.main-currency-table .currency-table--title {
  color: var(--bitcoin-orange);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  margin-bottom: 15px;
}

.main-currency-table .commissions-table--title {
  color: var(--secondary-blue);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  margin-bottom: 15px;
}

.currency-table--container {
  height: 250px;
  margin: 0 auto;
  max-width: 300px;
  min-width: 230px;
  width: 90%;
}

.currency-table--container table {
  height: 100%;
  width: 100%;
}

.currency-table--container td {
  background: var(--white);
  color: var(--grey);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  width: 50%;
}

.currency-table--container .table__top-left {
  border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right {
  border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left {
  border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right {
  border-radius: 0 0 15px 0;
}

.currency-table--container .table__right {
  color: #757575;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
}

.currency-table--container .down {
  background-image: url("../Assets/iconos/trending-down.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 15px;
  margin-left: 10px;
  width: 15px;
}

.currency-table--container .up {
  background-image: url("../Assets/iconos/trending-up.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 15px;
  margin-left: 10px;
  width: 15px;
}

.currency-table--date {
  background-color: var(--soft-orange);
  border-radius: 8px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  width: 190px;
}

.comissions-table--date { 
  background-color: var(--soft-blue);
}

.currency-table--date p {
  color: var(--warm-black);
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.main-product-detail {
  background: var(--warm-black);
  height: auto;
  min-width: 320px;
  padding: 20px 10px;
  position: relative;
  width: 100%;
}

.product-detail-batata-logo {
  background-image: url("../Assets/iconos/batata.svg");
  background-repeat: no-repeat;
  height: 25px;
  left: calc(50% - 20px);
  position: absolute;
  top: -10px;
  width: 40px;
}

.product-detail--title {
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
  min-width: 288px;
  text-align: center;
  width: 90%;
}

.product-detail--title h2 {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 2.6rem;
}

.product-detail--title p {
  color: #808080;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-bottom: 20px;
}

.product-detail--card {
  background: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  min-height: 150px;
  margin: 15px auto;
  max-width: 400px;
  min-width: 288px;
  padding: 15px;
  width: 90%;
}

.product-detail--card .card-icon {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  margin-bottom: 10px;
  width: 20px;
}

.product-detail--card .clock {
  background-image: url("../Assets/iconos/clock.png");
}

.product-detail--card .eye {
  background-image: url("../Assets/iconos/eye.png");
}

.product-detail--card .dollar {
  background-image: url("../Assets/iconos/dollar.png");
}

.product-detail--card .check {
  background-image: url("../Assets/iconos/check.png");
}

.product--card-title {
  color: var(--white);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  margin-bottom: 15px;
}

.product-card--body {
  color: #808080;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.bitcoin-img-container {
  background-image: url("../Assets/imgs/bitcoinbaby.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  min-width: 320px;
  text-align: center;
  width: 100%;
}

.bitcoin-img-container h2 {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  padding-top: 60px;
}

.main-plans-container {
  min-width: 320px;
  padding-bottom: 60px;
  text-align: center;
  width: 100%;
}

.plans--title {
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  min-width: 288px;
  width: 90%;
}

.plans--title h2 {
  color: var(--black);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  padding-top: 50px;
}

.plans--title p {
  color: #757575;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  padding-top: 30px;
}

.plans-container--slider {
  display: flex;
  height: 316px;
  justify-content: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plans-container--card {
  background: var(--white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  height: 250px;
  margin: 50px 5px 0;
  max-width: 300px;
  min-width: 190px;
  padding: 0 15px;
  position: relative;
  scroll-snap-align: center;
  width: 70%;
}

.recommended {
  background: var(--bitcoin-orange);
  border-radius: 8px;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  height: 31px;
  left: calc(50% - 60px);
  padding: 7px;
  position: absolute;
  top: -15px;
  width: 120px;
}

.plan-card--title {
  color: black;
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.plan-card--price {
  color: black;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  padding: 5px 0;
}

.plan-card--price span {
  font-size: 1.2rem;
  font-weight: 500;
  vertical-align: text-top;
}

.plan-card--saving {
  color: #757575;
  font-size: 1.2rem;
}

.plan-card--cta {
  background: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 5px;
  color: var(--warm-black);
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  height: 48px;
  line-height: 1.8rem;
  margin-top: 20px;
  width: 150px;
}

.plan-card--cta span {
  background-image: url("../Assets/iconos/arrow-right.png");
  display: inline-block;
  height: 20px;
  vertical-align: text-bottom;
  width: 20px;
}

footer {
  background: var(--bitcoin-orange);
  display: flex;
  height: 150px;
  width: 100%;
}

footer section {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
}

footer .left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}

.left li {
  margin: 10px 0;
}

.left a {
  color: var(--white);
  text-decoration: none;
}
